* {
    color: white;
}
input, button, i {
    display: block;
    border: none;
}

h1, input {
    width: 30%;
}

ul {
    width: 40%;
}

.navStyles {
    background: linear-gradient(to bottom, #333399 0%, #33ccff 100%);
    padding: 1rem;
    font-weight: 500;
    display: flex;
}

.navStyles ul{
    display: flex;
    list-style: none; 
    justify-content: space-around;

}

.navStyles a {
    text-decoration: none;
    
}